.cursor-dot,
.cursor-dot-outline {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.cursor-dot {
  width: 8px;
  height: 8px;
  background-color: gold;
}

.cursor-dot-outline {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 215, 0, 0.5);
}
.cursor-dot-2,
.cursor-dot-outline-2 {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.cursor-dot-2 {
  width: 8px;
  height: 8px;
  background-color: gold;
}

.cursor-dot-outline-2 {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 215, 0, 0.5);
}
.cursor-dot-3,
.cursor-dot-outline-3 {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.cursor-dot-3 {
  width: 8px;
  height: 8px;
  background-color: gold;
}

.cursor-dot-outline-3 {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 215, 0, 0.5);
}